@font-face {
    font-family: 'Old Standart TT';
    src: url('../fonts/OldStandardTT-Regular.ttf') format('truetype');
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: 'Old Standart TT';
    src: url('../fonts/OldStandardTT-Italic.ttf') format('truetype');
    font-style: italic;
    font-weight: 400;
}

@font-face {
    font-family: 'Old Standart TT';
    src: url('../fonts/OldStandardTT-Bold.ttf') format('truetype');
    font-style: bold;
    font-weight: 700;
}